body{
    background-image: url(../images/just-pizza.jpg);
    background-position: center;
    background-repeat: no-repeat;
}
.form {
    background-color: aliceblue;
    text-align: center;
}
#types{
    background-color: aliceblue;
}
