body{
    background-image: url(../images/just-pizza.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
#types{
    background-color: aliceblue;
    height: 500px;
}
h1{
    text-align: center;
    font-size: 40px;
}
#success,#table{
    display: none;
}

.head{
    top: 600px;
}